body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #EBEEF3;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #1890ff;
  text-decoration: none;
}
a:hover {
  color: #1890ff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1890ff;
  }
  button {
    background-color: #f9f9f9;
  }
}
